* {
	font-family: "PT Sans", sans-serif;
}

header {
	text-align: center;
	background-color: red;
}

section {
	background-color: orange;

	ul {
		padding-left: 0;
		list-style-type: none;
	}

	li {
		display: flex;
		align-items: center;
		position: relative;
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;
		touch-action: none; /* We'll need to shrink list objects to keep a minimum scrollable area*/
		background-color: green;

		&.dragging {
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}

		p {
			margin: 0;
		}

		/* Using a custom checkbox type instead of input because I can't find a reasonable way to style an input */
		/* Need to fix wrapping text lines shrinking the checkbox ~~~~~~~ */
		.checkbox {
			width: 1em;
			aspect-ratio: 1/1;
			margin: 0 0.25em 0 0.25em;
			position: relative;
			background-color: red;
			cursor: pointer;

			&:hover {
				background-color: green;
			}

			&[data-state="true"] {
				background-color: blue;
				&::after {
					top: 5%;
					left: 25%;
					position: absolute;
					content: "";
					width: 30%;
					aspect-ratio: 1/2;
					border: solid white;
					border-width: 0 3px 3px 0;
					transform: rotate(45deg);
				}

				&:hover {
					background-color: green;
				}
			}

			&.disabled {
				background-color: grey;
				cursor: default;
			}
		}

		input[type="text"] {
			background-color: transparent;
			border: dotted grey;
			border-width: 0px 0 1px 0;

			&:focus {
				outline: none;
				border-color: white;
			}

			&:focus ~ #addCheckbox {
				display: block;
			}
		}

		#addCheckbox {
			width: 1em;
			aspect-ratio: 1/1;
			background-color: indigo;
			position: relative;
			cursor: pointer;
			margin-left: 0.5em;
			display: none;

			&::after {
				position: absolute;
				width: 1em;
				height: 1em;
				color: white;
				content: ">";
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&:active {
				background-color: blue;
				display: block;
			}
		}
	}

	#buttonContainer {
		display: flex;
		flex-direction: row;

		span + span {
			margin-left: 1em;
		}
		
		span {
			display: flex;
			flex-direction: row;
			align-items: center;

			#addCheckboxButton {
				width: 1em;
				aspect-ratio: 1/1;
				margin: 0 0.25em 0 0.25em;
				position: relative;
				background-color: red;
				cursor: pointer;
				color: white;

				&::after {
					content: "+";
					position: absolute;
					width: 1em;
					height: 1em;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				&:hover {
					background-color: green;
				}

				&:active {
					background-color: blue;
				}
			}
		}
	}
}

footer {
	text-align: center;
	background-color: gold;

	h4 {
		margin-bottom: 0;
	}
}